<div class="wrapper">
    <div class="contact-form-section">
        <div class="content">
            <div class="badge">
                <span>Contact Us</span>
            </div>
            <p class="title">Reach Out for Compassionate Support and Guidance</p>
            <p class="supporting-text">For any inquiries or assistance, please don't hesitate to get in touch with us.
                <br><br>

                Our team at S & S Veterans Services is here to provide veterans struggling with alcohol and drug abuse,
                mental illness, and financial planning with the compassionate help they need. <br><br>

                Your path to recovery and stability starts with a simple message or call. We're here to support you
                every step of the way.
            </p>
        </div>
        <div class="form-wrapper">
            <div class="form">
                <form action="https://api.web3forms.com/submit" method="POST">
                    <input type="hidden" name="access_key" value="d9004f36-d02d-402c-8fcd-53bf96740111">
                    <input type="hidden" name="redirect"
                        value="https://www.veteransservice.com/contact-us?submitted=true">
                    <div class="row">
                        <div class="mr-24">
                            <p>First Name</p>
                            <input type="text" name="firstName" id="firstName" placeholder="First Name" required />
                        </div>
                        <div>
                            <p>Last Name</p>
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Email</p>
                            <input type="email" name="email" id="email" placeholder="Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Phone</p>
                            <input type="text" name="phone" id="phone" placeholder="+1 (555) 000-0000">
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <p>Additional comments</p>
                            <textarea name="additionalComments" id="additionalComments"
                                placeholder="Write Something"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
                        <button type="submit" class="primary">Contact Us</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>