@import "../../scss/colors.scss";
@import "../../scss/mixins.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  cursor: pointer;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .question {
        .text {
          color: $primary-blue;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          letter-spacing: -0.48px;
          margin: 0;
          letter-spacing: -0.48px;
        }
      }
    }

    .answer {
      .text {
        color: $primary-blue-variant;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
      }
    }

    .accordion-icons {
      img.icon {
        transition: transform 0.3s;
      }

      img.icon.icon-rotated {
        transform: rotate(180deg);
      }
    }
  }
  .divider {
    border: 1px solid $border-color;
  }
}
