$primary-blue: #3555ae;
$primary-white: #fff;
$primary-gray: #667085;
$primary-blue-variant: #21356d;
$primary-blue-light: #ebeff9;
$primary-background: #f6f7fd;
$border-color: #eaecf0;
$secondary-text: #25272c;
